<svg class="laurel-svg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <!-- crown -->
  <path d="M84,32 L88,15 L96,26 L100,10 L104,26 L112,15 L116,32 Z" fill="var(--orange)"/>
  <rect x="83" y="31" width="34" height="6" rx="1" fill="var(--orange)"/>

  <!-- stars -->
  <g fill="var(--orange)">
    <path transform="translate(76,49)" d="M0,-6 L1.8,-2 L6,-1.8 L2.8,1 L3.7,5.7 L0,3.2 L-3.7,5.7 L-2.8,1 L-6,-1.8 L-1.8,-2 Z"/>
    <path transform="translate(100,46)" d="M0,-7 L2.1,-2.3 L7,-2.1 L3.3,1.2 L4.3,6.7 L0,3.7 L-4.3,6.7 L-3.3,1.2 L-7,-2.1 L-2.1,-2.3 Z"/>
    <path transform="translate(124,49)" d="M0,-6 L1.8,-2 L6,-1.8 L2.8,1 L3.7,5.7 L0,3.2 L-3.7,5.7 L-2.8,1 L-6,-1.8 L-1.8,-2 Z"/>
  </g>

  <!-- laurel wreath: left branch -->
  <g fill="var(--orange)">
    <g transform="translate(100,178) rotate(-14)"><path transform="translate(0,-68)" d="M0,-14 C5,-8 5,8 0,14 C-5,8 -5,-8 0,-14 Z"/></g>
    <g transform="translate(100,178) rotate(-34)"><path transform="translate(0,-76)" d="M0,-15 C5.5,-9 5.5,9 0,15 C-5.5,9 -5.5,-9 0,-15 Z"/></g>
    <g transform="translate(100,178) rotate(-54)"><path transform="translate(0,-83)" d="M0,-16 C6,-9.5 6,9.5 0,16 C-6,9.5 -6,-9.5 0,-16 Z"/></g>
    <g transform="translate(100,178) rotate(-74)"><path transform="translate(0,-88)" d="M0,-16 C6,-9.5 6,9.5 0,16 C-6,9.5 -6,-9.5 0,-16 Z"/></g>
    <g transform="translate(100,178) rotate(-93)"><path transform="translate(0,-91)" d="M0,-15 C5.5,-9 5.5,9 0,15 C-5.5,9 -5.5,-9 0,-15 Z"/></g>
    <g transform="translate(100,178) rotate(-111)"><path transform="translate(0,-92)" d="M0,-13 C5,-8 5,8 0,13 C-5,8 -5,-8 0,-13 Z"/></g>
  </g>

  <!-- laurel wreath: right branch (mirrored) -->
  <g fill="var(--orange)">
    <g transform="translate(100,178) rotate(14)"><path transform="translate(0,-68)" d="M0,-14 C5,-8 5,8 0,14 C-5,8 -5,-8 0,-14 Z"/></g>
    <g transform="translate(100,178) rotate(34)"><path transform="translate(0,-76)" d="M0,-15 C5.5,-9 5.5,9 0,15 C-5.5,9 -5.5,-9 0,-15 Z"/></g>
    <g transform="translate(100,178) rotate(54)"><path transform="translate(0,-83)" d="M0,-16 C6,-9.5 6,9.5 0,16 C-6,9.5 -6,-9.5 0,-16 Z"/></g>
    <g transform="translate(100,178) rotate(74)"><path transform="translate(0,-88)" d="M0,-16 C6,-9.5 6,9.5 0,16 C-6,9.5 -6,-9.5 0,-16 Z"/></g>
    <g transform="translate(100,178) rotate(93)"><path transform="translate(0,-91)" d="M0,-15 C5.5,-9 5.5,9 0,15 C-5.5,9 -5.5,-9 0,-15 Z"/></g>
    <g transform="translate(100,178) rotate(111)"><path transform="translate(0,-92)" d="M0,-13 C5,-8 5,8 0,13 C-5,8 -5,-8 0,-13 Z"/></g>
  </g>
</svg>
