---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.meta.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.meta.url }}/blog/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for post in site.blogPosts %}
{%- if not post.noindex %}
  <url>
    <loc>{{ site.meta.url }}/blog/{{ post.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
